body {
    font-family: Arial;
    margin: 0;
    background-color: #17161639;
}


/* Header */
header {
    background-color: #000000;
    flex-direction: row;
    display: flex;
    color: rgb(249, 121, 9);
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap; /* أضف السطر ده */
}
header img{
    max-width: 100%;
    height: auto;
}
/* Navbar */
nav {
    background-color: #00aeff;
    padding: 10px;
    text-align: center;
    display: flex;              /* أضف */
    justify-content: center;    /* أضف */
    flex-wrap: wrap;            /* أضف */
}

nav a {
    color: rgb(255, 255, 255);
    margin: 10px;
    text-decoration: none;
    padding: 8px 15px;
}

nav a:hover {
    background-color:rgb(249, 121, 9);
    border-radius: 5px;
}

/* Main */
main {
    padding: 10px;
}
section {
    width: 100%;
}

/* Table */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    margin: 0 auto; /* يوسّطه */
    table-layout: fixed;
}

table, th, td {
    border: 1px solid #ddd;
}

th {
    background-color: rgb(249, 121, 9);
    color: white;
}

td, th {
    padding: 10px;
    text-align: center;
    word-wrap: break-word;
}

tr:hover {
    background-color: #f1f1f1;
}

/* Form */
form {
    background-color: white;
    padding: 20px;
    width: 50%;
    margin: auto;
    border-radius: 10px;
    max-width: 500px; /* أضف */
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

button {
    background-color:#00aeff;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color:rgb(249, 121, 9);
}

/* Footer */
footer {
    background-color: #00aeff;
    color: white;
    text-align: center;
    padding: 10px;
}
@media (max-width: 768px) {

    header {
        flex-direction: column;
    }

    header img {
        width: 120px;
    }

    h1 {
        font-size: 20px;
    }

    nav a {
        display: block;
        width: 100%;
        margin: 5px 0;
    }

    body {
        margin: 0;
        padding: 0;
    }

    main {
        padding: 5px;
    }

    section {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    table {
        width: 100%;
        min-width: 100%;
        display: block;
        overflow-x: auto;
    }

    td, th {
        font-size: 12px;
        padding: 5px;
    }

    form {
        width: 90%;
    }
}